@price-color:           #E51C23;
@text-color-base:           #333;
@text-color-bold:         #101010;
@text-color-secondary:        #666;
@text-color-third:        #999;
@text-color-last:         #ccc;

@theme-color: #2D9911;

@border-bolor:              rgba(238, 238, 238, 0.6);

@card-radius:                 12rpx;
